@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@import url("styles/header.css");
@import url("styles/main_content.css");
@import url("styles/games.css");
@import url("styles/footer.css");

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --cor-amarelo: #FFCB05;
    --cor-azul: #3D7DCA;
    --cor-azul-navy: #003A70;
    --cor-vermelho: #f00000;
    --cor-preto: #222224;
    --cor-cinza: #f0f0f0;
    --cor-dia:#FFCC33;
    --cor-noite:#131862;


    --fonte-primaria: 'Pokemon Solid', sans-serif;
    --fonte-secundaria: 'Pokemon Hollow', sans-serif;
    --fonte-terciaria: 'Krona One', sans-serif;
}

body{
    width: auto;
    box-sizing: border-box;
    background-color: var(--cor-preto);
    color: var(--cor-secundaria);
    font-size: 16px;
}