@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@import url("styles/header.css");
@import url("styles/main_content.css");
@import url("styles/games.css");
@import url("styles/footer.css");

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #A40000;
    --hover-color-2: #c0c0c0;
    --yellow-color: #FFCB05;
    --blue-color: #3D7DCA;
    --navy-blue-color: #003A70;
    --red-color: #f00000;
    --black-color: #222224;
    --gray-color: #f0f0f0;
    --day-color:#FFCC33;
    --night-color:#131862;

    --primary-font: 'Pokemon Solid', sans-serif;
    --secondary-font: 'Pokemon Hollow', sans-serif;
    --tertiary-font: 'Krona One', sans-serif;
}

body{
    background-color: var(--black-color);
    color: var(--secondary-color);
    font-size: 16px;
}

* {
    box-sizing: border-box;
}