.footer{
    height: auto;
    color: var(--primary-color);
    background-color: var(--gray-color);
    padding: calc(var(--default-padding) * 1.5);
    text-align: center;
    font-family: var(--tertiary-font);
    font-size: calc(var(--default-font-size-text) * 0.5);
    font-weight: 400;
}
