.footer{
    height: auto;
    width: auto;
    background-color: var(--gray-color);
    font-family: var(--tertiary-font);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem 0;
    margin: auto;
}