.thead-default{
    background-color: var(--blue-color);
    font-weight: bold;
}

.record_history{
    background-color: var(--tertiary-color);
    border-collapse: collapse;
    border-spacing: 500px 50px; 
    font-size: 2rem;
}

.record_history th, .record_history td {
    border: 5px solid #000;  
    padding: 1rem;  
}

.scrollable-table {
    max-height: 50rem;  
    overflow-y: auto;  
    overflow-x: auto;  
}