.forms{
    display: grid;
    grid-template-areas:
        "title title"
        "gen atr"
        "button button";
    grid-template-rows: 1fr repeat(2, auto); 
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    margin-top: 2.5rem;
}

.forms_wtp {
    grid-template-areas:
        "title title"
        "gen gen"
        "button button";
}

.forms h2{
    grid-area: title;
}

.forms fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms fieldset:nth-of-type(1) {
    justify-self: center;
    align-self: center;
    grid-area: gen;
}

.forms fieldset:nth-of-type(2) {
    justify-self: center;
    align-self: center;
    grid-area: atr;
}

.forms input[type="submit"] {
    grid-area: button;
    justify-self: center;
    align-self: center;
    width: auto;
    background-color: var(--gray-color);
    border: 0.2rem solid var(--primary-color);
    color: var(--yellow-color);
    font-size: 3rem;
    padding: 1rem;
    margin-top: 2.5rem;
    cursor: pointer; 
}

.forms input[type="submit"]:hover {
    background-color: var(--hover-color-2);
}

.forms fieldset legend{
    display: block;
    width: 100%;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color:var(--yellow-color);
    -webkit-text-stroke: 0.25rem var(--navy-blue-color);
    text-align: center;
    margin-bottom: 3rem;
}

.scrollable-list {
    height: 390px; 
    width: 400px; 
    overflow-y: auto;
    background-color: var(--tertiary-color);
    border: 0.5rem solid #ccc;
    font-family: var(--primary-font);
    font-size: 2rem;
    color:var(--yellow-color);
    -webkit-text-stroke: 0.2rem var(--navy-blue-color);

    padding: 1rem;
}

.item-list {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 2rem;   
    height: 2rem;  
    border: 0.2rem solid #000;
    margin-right: 1rem;
    vertical-align: middle;
    cursor: pointer; 
}

input[type="checkbox"]:checked + label::before {
    content: "\2713"; 
    line-height: 1rem; 
    font-size: 2rem;  
}


.forms select,
.forms input[type="text"] {
    width: 50%;
    margin-bottom: 1rem; 
} 