:root {
    --toggle-size: 3rem;
}

.toggle_menu {
    float: right;
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.toggle_icon {
    width: auto; 
    height: calc(var(--toggle-size) * 1.2);
}

.toggle-btn {
    position: relative;
    width: calc(var(--toggle-size) * 2);
    height: var(--toggle-size);
    display: inline-block;
    margin-right: calc(var(--toggle-size) * 0.1);
}

.toggle-btn input {
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--day-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    width: var(--toggle-size);
    height: var(--toggle-size);
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--night-color);
}

input:checked + .slider:before {
    transform: translateX(var(--toggle-size));
}