@import url("header_nav_menu.css");
@import url("header_day_night_switch.css");

.header{
    height: auto;
    width: auto;
    background-color: var(--red-color);
    padding-right: 1rem;
    margin: auto;
}

.header_menu{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header_menu_link{
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--yellow-color);
    text-decoration: none;
    padding: 0 1rem;
}

.header_menu_link_selected{
    background-color: var(--hover-color);
}