@import url("header_day_night_switch.css");

.header{
    height: auto;
    width: auto;
    background-color: var(--red-color);
    padding-right: 1rem;
    margin: auto;
    position: relative;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header_menu{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header_menu_link{
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--yellow-color);
    text-decoration: none;
    padding: 0 1rem;
}

.header_menu_link_selected{
    background-color: var(--hover-color);
}

.nav_menu_drop_list{
    display: none;
}

.header_menu_icon {
    width: 24px;
    height: 24px;
    background-image: url("/static/assets/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.container__button {
    display: none;
}

.container__label{
    padding-left: 1rem;
}

.container__button:checked~.container__label>.header_menu_icon {
    background-image: url("/static/assets/menu_open.svg");
}


.container__button:checked~.lista-menu {
    display: block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 25vw;
    z-index: 1000;
    background-color: var(--red-color);
}

.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__item:hover{
    background-color: var(--hover-color);
}


@media screen and (max-width: 1024px) {
    .header_menu_link{
        font-size: 1rem;
    } 
}

@media screen and (max-width: 863px) {
    .nav_menu{
        display: none;
    }
    
    .nav_menu_drop_list{
        display: block;
    }

}