@import url("header_nav_menu.css");
@import url("header_day_night_switch.css");

.header{
    height: auto;
    background-color: var(--red-color);
    padding-right: var(--default-padding);
}

.header_menu{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header_menu_link{
    font-family: var(--secondary-font);
    font-size: var(--default-font-size-title);
    font-weight: 600;
    color: var(--yellow-color);
    text-decoration: none;
    padding: var(--default-padding);
}

.header_menu_link_selected{
    background-color: var(--hover-color);
}