@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --cor-amarelo: #FFCB05;
    --cor-azul: #3D7DCA;
    --cor-azul-navy: #003A70;
    --cor-vermelho: #f00000;
    --cor-preto: #222224;
    --cor-cinza: #f0f0f0;


    --fonte-primaria: 'Pokemon Solid', sans-serif;
    --fonte-secundaria: 'Pokemon Hollow', sans-serif;
    --fonte-terciaria: 'Krona One', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-preto);
    color: var(--cor-secundaria);
    font-size: 16px;
    width: auto;
}

.cabecalho{
    padding: 2% 2%;
    background-color: var(--cor-vermelho);
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-amarelo);
    text-decoration: none;
}

.apresentacao{
    background-size: cover;
    background-image: url("/static/assets/day.jpg");
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-primaria);
    color:var(--cor-amarelo);
    -webkit-text-stroke: 0.2rem var(--cor-azul-navy);
    gap: 4rem;
    font-size: 4rem;
}

.pokemon_battle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__link{
    background-color: var(--cor-vermelho);
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.4rem solid var(--cor-preto);
    width: 30rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--cor-cinza);
    font-family: var(--fonte-primaria);
    -webkit-text-stroke: 0.2rem var(--cor-preto);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-cinza);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
