{% extends "template.html" %}
{% block conteudo %}
<header class="cabecalho">
    <nav class="cabecalho__menu">
        <div class = "nav_menu">
        </div>
        <div class = "toogle_menu">
            <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
            <label class="toggle-btn">
                <input type="checkbox" id="toggleBackground">
                <span class="slider"></span>
            </label>
            <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
        </div>
    </nav>
</header>
    <main class="apresentacao">
        <h1 class="apresentacao__conteudo__titulo">{{text}}</h1>
        <p class="apresentacao__conteudo__texto">{{score}}</p>
        <div class="apresentacao__links">
            <a class="apresentacao__links__link" href="#" onclick="postToURL('/reset_game', { reset_type: 'reset_hl' })">
                Try again
            </a>  
            <a class="apresentacao__links__link" href="#" onclick="postToURL('/reset_game', { reset_type: 'reset_hl_all' })">
                Change Settings
            </a>            
            <a class="apresentacao__links__link" href="{{ url_for('home.index') }}">
                Home
            </a>
        </div>
        {% if pkmn_list %}
        <h2 class="apresentacao__conteudo__titulo">See all your correct answers below:</h2>
        <div class="scrollable">
            <table class="battle_table">
                <thead class="thead-default">
                    <tr>
                        <th>Stat</th>
                        <th>Pokemon 1</th>
                        <th>Pokemon 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for battle in pkmn_list %}
                    <tr>
                        <td>{{ battle['stat'] }}</td>
                        <td>{{ battle['nome1'] }} (stat: {{ battle['stat1'] }})</td>
                        <td>{{ battle['nome2'] }} (stat: {{ battle['stat2'] }})</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
{% endblock %}