{% extends "template.html" %}
{% block content%}
<header class="header">
    <nav class="header_menu">
        <div class = "nav_menu">
            <a class="header_menu_link" href="{{ url_for('home.index') }}">Home</a>
            <p class="header_menu_link header_menu_link_selected">Higher Lower Game</p>
            <a class="header_menu_link" href="{{ url_for('whos_that_pkmn.home') }}">Who's that Pokémon</a>
        </div>
        <div class = "toogle_menu">
            <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
            <label class="toggle-btn">
                <input type="checkbox" id="toggleBackground">
                <span class="slider"></span>
            </label>
            <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
        </div>
    </nav>
</header>

<main class="main_content">
    <h1 class="main_content_title" id="stat">{{ stat }}</h1>
    <div class="score-container">
        <h2 class="main_content_title" id="score">Score: 0</h2>
        <h2 class="main_content_title" id="high_score">High Score: {{high_score_hl}}</h2>
    </div>

    <section class="pokemon_battle">
        <div class="pokemon_hl" id="pkmn-1"> 
            <h2 class="main_content_title">{{ pkmn_1.name }}</h2>
            <img src="{{ pkmn_1.sprite }}" alt="Pokemon 1" data-stat="{{ pkmn_1.stat }}">
            <h3 class="main_content_title" id="stat-pkmn-1"></h3>
        </div>
        <h2 id="vs">VS</h2> 
        <div class="pokemon_hl" id="pkmn-2"> 
            <h2 class="main_content_title">{{ pkmn_2.name }}</h2>
            <img src="{{ pkmn_2.sprite }}" alt="Pokemon 2" data-stat="{{ pkmn_2.stat }}">
            <h3 class="main_content_title" id="stat-pkmn-2"></h3>
        </div>
    </section>
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to exit? You'll lose your current progress!</p>
            <button class="confirmation_button" id="confirmYes">Yes</button>
            <button class="confirmation_button" id="confirmNo">No</button>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/higher_lower_game.js') }}"></script>

{% endblock %}
