<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poke Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        {% block content%}{% endblock %}

        <footer class="footer">
            <p>This website is not endorsed or affiliated with the Pokémon or Nintendo. Additionally, this site is not endorsed by Pokémon or by it's creators.</p>
        </footer>

        <script src="{{ url_for('static', filename='js/day_night_toogle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/check_answer_flash.js') }}"></script>
        <script src="{{ url_for('static', filename='js/post_url.js') }}"></script>
              
    </body>
</html>