{% extends "template.html" %}
{% block content%}
<header class="header">
    <nav class="header_menu">
        <div class = "nav_menu">
        </div>
        <div class = "toogle_menu">
            <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
            <label class="toggle-btn">
                <input type="checkbox" id="toggleBackground">
                <span class="slider"></span>
            </label>
            <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
        </div>
    </nav>
</header>
    <main class="main_content">
        <h1 class="main_content_title">{{text}}</h1>
        <p class="main_content_text">{{score}}</p>
        <div class="main_content_links">
            <a class="main_content_links_item" href="#" onclick="postToURL('/reset_game', { reset_type: 'reset_wtp' })">
                Try again
            </a>  
            <a class="main_content_links_item" href="#" onclick="postToURL('/reset_game', { reset_type: 'reset_wtp_all' })">
                Change Settings
            </a>            
            <a class="main_content_links_item" href="{{ url_for('home.index') }}">
                Home
            </a>
        </div>
        {% if pkmn_list %}
        <h2 class="main_content_title">See all your correct answers below:</h2>
        <div class="scrollable-table">
            <table class="record_history">
                <thead class="thead-default">
                    <tr>
                        <th>Pokemon</th>
                        <th>Generation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pkmn in pkmn_list %}
                    <tr>
                        <td>{{ pkmn['id_name'] }}</td>
                        <td>{{ pkmn['generation'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
{% endblock %}