{% extends "template.html" %}
{% block content%}
    <header class="header">
        <nav class="header_menu">
            <div class = "nav_menu">
                <a class="header_menu_link" href="{{ url_for('home.index') }}">Home</a>
                <a class="header_menu_link" href="{{ url_for('higher_lower.home') }}">Higher Lower Game</a>
                <p class="header_menu_link header_menu_link_selected">Who's that Pokémon</p>
            </div>
            <div class = "toogle_menu">
                <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
                <label class="toggle-btn">
                    <input type="checkbox" id="toggleBackground">
                    <span class="slider"></span>
                </label>
                <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
            </div>
        </nav>
    </header>
    <main class="main_content">
        <h1 class="main_content_title">Who's That Pokémon Game</h1>
        <h2 class="main_content_title">Rules</h2>
        <p class="main_content_text">
            Your task is to guess the Pokémon based on its shadow.
            As the game progresses, a new Pokémon will be presented to you — without any repeats.
            Pokémon displayed are guided by your game settings.
            Aim to consecutively choose correctly and see how many you get right in a row!
        </p>
        <div class="forms">
            <h2 class="main_content_title">Settings</h2>
            <form action="/whos_that_pkmn" method="post" id="gameForm">
                <div class="list-container">
                    <fieldset>
                        <legend class = 'legend_selection'>Select the Generations</legend>
                        <div class="scrollable-list">
                            <div class="item-list">
                                <input type="checkbox" id="select-all-gen" name="select-all-gen" value="select-all-gen">
                                <label for="select-all-gen">All Gen's</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-I" name="gen[]" value="generation-i">
                                <label for="gen-I">Gen I</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-II" name="gen[]" value="generation-ii">
                                <label for="gen-II">Gen II</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-III" name="gen[]" value="generation-iii">
                                <label for="gen-III">Gen III</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-IV" name="gen[]" value="generation-iv">
                                <label for="gen-IV">Gen IV</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-V" name="gen[]" value="generation-v">
                                <label for="gen-V">Gen V</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VI" name="gen[]" value="generation-vi">
                                <label for="gen-VI">Gen VI</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VII" name="gen[]" value="generation-vii">
                                <label for="gen-VII">Gen VII</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VIII" name="gen[]" value="generation-viii">
                                <label for="gen-VIII">Gen VIII</label>
                            </div>
                        </div>
                    </fieldset>
            </div>
                <input id = 'submit_forms' type="submit" value="Play">
            </form>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/whos_that_pkmn_home.js') }}"></script>
    
{% endblock %}