{% extends "template.html" %}
{% block content%}
<header class="header">
    <nav class="header_menu">
        <div class = "nav_menu">
            <a class="header_menu_link" href="{{ url_for('home.index') }}">Home</a>
            <a class="header_menu_link" href="{{ url_for('higher_lower.home') }}">Higher Lower Game</a>
            <p class="header_menu_link header_menu_link_selected">Who's that Pokémon</p>
        </div>
        <div class = "toogle_menu">
            <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
            <label class="toggle-btn">
                <input type="checkbox" id="toggleBackground">
                <span class="slider"></span>
            </label>
            <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
        </div>
    </nav>
</header>

<main class="main_content">
    <section class="pokemon_wtp" id="pkmn">
        <div class = 'guess_pkmn'> 
            <h2 class="main_content_text" id="name_pkmn">?</h2>
            <img src="{{ pkmn.shadow_sprite }}" alt="Pokemon" id_name="{{ pkmn.id_name }}" id="pokemonImage" sprite="{{pkmn.sprite}}">
        </div>

        <form action="/whos_that_pkmn" method="post" id="gameForm" class="forms_guess">
            <div class="score-container">
                <h2 class="main_content_text" id="score">Score: 0</h2>
                <h2 class="main_content_text" id="high_score">High Score: {{high_score_wtp}}</h2>
            </div>
            <select id="generation-filter">
                <option value="All">All Generations</option>
                {% for gen in generations_dict.keys() %}
                <option value="{{ gen }}">{{ gen }}</option>
                {% endfor %}
            </select>
            <input type="text" id="global-filter" placeholder="Filter Pokémon Name">
            <div class="scrollable-list" id="pokemon-list">
                <!-- items will be populated by JavaScript -->
            </div>
            <input type="submit" value="Guess">
        </form>
    </section>
    
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to exit? You'll lose your current progress!</p>
            <button class="confirmation_button" id="confirmYes">Yes</button>
            <button class="confirmation_button" id="confirmNo">No</button>
        </div>
    </div>
</main>
<script type="text/javascript">
    let generations_dict = {{ generations_dict | tojson | safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/whos_that_pkmn_game.js') }}"></script>
{% endblock %}
