{% extends "template.html" %}
{% block conteudo %}
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <div class = "nav_menu">
                <a class="cabecalho__menu__link" href="{{ url_for('home.index') }}">Home</a>
                <a class="cabecalho__menu__link" href="{{ url_for('higher_lower.home') }}">Higher Lower Game</a>
                <p class="cabecalho__menu__link">Who's that Pokémon</p>
            </div>
            <div class = "toogle_menu">
                <img src="{{ url_for('static', filename='assets/sun.png') }}" alt="Day Mode" class="toggle_icon">
                <label class="toggle-btn">
                    <input type="checkbox" id="toggleBackground">
                    <span class="slider"></span>
                </label>
                <img src="{{ url_for('static', filename='assets/moon.png') }}" alt="Night Mode" class="toggle_icon">
            </div>
        </nav>
    </header>
    <main class="apresentacao">
        <h1 class="apresentacao__conteudo__titulo">Higher Lower Game</h1>
        <h2 class="apresentacao__conteudo__titulo">Rules</h2>
        <p class="apresentacao__conteudo__texto">
            Your task is to guess the Pokémon based on it shadow.
            As the game progresses, a new Pokémon will be presented to you — without any repeats. 
            Pokémon displayed are guided by your game settings.  
            Aim to consecutively choose correctly and see how many you get right in a row!
        </p>
        <div class="formularios">
            <h2 class="apresentacao__conteudo__titulo">Settings</h2>
            <form action="/whos_that_pkmn" method="post" id="gameForm">
                <div class="list-container">
                    <fieldset>
                        <legend class = 'legend_selection'>Select the Gen's</legend>
                        <div class="scrollable-list">
                            <div class="item-list">
                                <input type="checkbox" id="gen-I" name="gen[]" value="generation-i">
                                <label for="gen-I">Gen I</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-II" name="gen[]" value="generation-ii">
                                <label for="gen-II">Gen II</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-III" name="gen[]" value="generation-iii">
                                <label for="gen-III">Gen III</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-IV" name="gen[]" value="generation-iv">
                                <label for="gen-IV">Gen IV</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-V" name="gen[]" value="generation-v">
                                <label for="gen-V">Gen V</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VI" name="gen[]" value="generation-vi">
                                <label for="gen-VI">Gen VI</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VII" name="gen[]" value="generation-vii">
                                <label for="gen-VII">Gen VII</label>
                            </div>
                            <div class="item-list">
                                <input type="checkbox" id="gen-VIII" name="gen[]" value="generation-viii">
                                <label for="gen-VIII">Gen VIII</label>
                            </div>
                        </div>
                    </fieldset>
            </div>
                <input id = 'submit_higher_lower' type="submit" value="Play">
            </form>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('gameForm');

                form.addEventListener('submit', function(e) {
                    const gensChecked = document.querySelectorAll('input[name="gen[]"]:checked').length;
        
                    if (gensChecked === 0) {
                        e.preventDefault(); 
                        alert('Select one value in Gen');
                    }
                });
            });
    </script>
{% endblock %}